<h1 class="descripcion">@ViewBag.PaisBuscado.Nombre</h1>
<h1 class="descripcion">@ViewBag.PaisBuscado.Poblacion</h1> 
<h1 class="descripcion">@ViewBag.PaisBuscado.FechaIndependencia</h1> 
<h1 class="descripcion">@ViewBag.PaisBuscado.AtractivosTuristicos</h1> 

<a href='@Url.Action("Index")'>VOLVER</a>